// MIXINS
// References: http://w3bits.com/sass-mixins/

// Vendor Prefixes
@mixin prefix($property, $value, $vendors: webkit moz ms o, $default: true) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  @if $default {
    #{$property}: #{$value};
  }
}

// Media queries
@mixin screen($size) {
  $desktop: "min-width: 1024px";
  $tablet: "min-width: 768px) and (max-width: 1023px";
  $mobile: "max-width: 767px";
  $mobileLandscape: "min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape";
  $smallMobile: "max-width: 575.98px";

  @if $size == desktop {
    @media only screen and ($desktop) {
      @content;
    }
  }
  @else if $size == tablet {
    @media only screen and ($tablet) {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and ($mobile) {
      @content;
    }
  }
  @else if $size == mobileLandscape {
    @media only screen and ($mobileLandscape) {
      @content;
    }
  }
  @else if $size == smallMobile {
    @media only screen and ($smallMobile) {
      @content;
    }
  }
  @else {
    @media only screen and ($size) {
      @content;
    }
  }
}
