// FOOTER STYLING

footer
    position: relative
    bottom: 132px
    +screen('tablet')
        position: initial
    +screen('mobile')
        position: initial
        margin-top: 40px
    
footer .flex-container
    width: 98%

.footer-bar
    background-color: $mirage-blue
    color: $white
    font-size: $p
    margin-bottom: -132px
    width: 90%
    +screen('tablet')
        width: 100%
    +screen('mobile')
        width: 100%
    float: right
    height: 78px
    +prefix('box-shadow','0px 7px 20px 3px rgba(35,31,32,0.4)',webkit moz)

footer i
    padding-right: 12px
    font-size: $p !important
    +screen('mobile')
        display: block !important
        padding: 3px 0

// Mobile icon in font set looks comparatively smaller. This is to address that.
footer .fa-mobile
    font-size: 1.8rem !important

footer a
    color: $white

.footer-copyright
    position: absolute
    left: 50%
    top: 10em
    +screen('tablet')
        display: none
    +screen('mobile')
        display: none