// BASE RULES
//A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes. It does NOT include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.

html
    font-size: 10px
    font-family: $Roboto
    +screen('mobile')
        font-size: 70%

h1,h2,h3,h4,h5,h6
    width: 100%

h1
    font-size: $h1

h2
    font-size: $h2
    color: $dark-blue
    font-family: $Architect
    margin: 30px 0 0 0
    text-transform: uppercase

h3
    font-size: $h3
    color: $red
    font-family: $Roboto
    margin: 10px 0 5px 0
    font-style: initial

a
    text-decoration: none
    color: inherit

p
    margin: 5px 0
    font-size: $p
    line-height: 1.8rem
    font-style: initial   

hr
    width: 80%
    text-align: center
    line-height: 1px 
    
blockquote
    font-size: $h3
    text-align: center
    color: $red
    margin: 10px 0

ul
    list-style: disc
    margin-left: 25px
    font-size: $ul
    line-height: 1.4

li
    flex-basis: 100%
    margin-left: 10px

strong
    font-weight: $bold

.btn
    background-color: $red
    border: none
    color: $white
    padding: 12px 20px
    font-size: $h3
    cursor: pointer

small
    color: $light-grey
    font-size: $small