// ANIMATION STYLING

// Pulsing / Sonar animation for icon
@keyframes animate
    0%
        box-shadow: 0 0 0 0 rgba(225, 225, 225, .7), 0 0 0 0 rgba(225, 225, 225, .7)
    40%
        box-shadow: 0 0 0 20px rgba(225, 225, 225, 0), 0 0 0 0 rgba(225, 225, 225, 0)
    80%
        box-shadow: 0 0 0 20px rgba(225, 225, 225, 0), 0 0 0 10px rgba(225, 225, 225, 0)
    100%
        box-shadow: 0 0 0 0 rgba(225, 225, 225, 0), 0 0 0 10px rgba(225, 225, 225, 0)

a
    +prefix('transition','all 0.3s ease-in-out',webkit moz ms o)