/* Popup Styling */

.show
    display: block !important

.popup-overlay
    display: none
    position: absolute
    top: 0
    left: 0
    background: rgba(19,32,46,0.5)
    height: 100vh
    width: 100vw
    z-index: 1


.close
    font-size: $h1
    color: $white
    float: right
    cursor: pointer
    position: relative
    top: 12px

.popup-box
    position: relative
    top: 2em
    background-color: $white
    padding: 10px